*
{
    margin: 0;
    padding: 0;
    font-size: 'Poppins',san-serif;
    box-sizing: border-box;
   
}

.container
{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(169, 97, 15);
    background-image: url(3.jpg);
    padding: 10px;
    background-size: cover;
    background-position: center;
}
.To-app
{
    width: 40%;
    background-color: rgba(246, 237, 243, 0.21);
    color:#fff;
    margin: 100px auto 20px;
    padding: 40px 30px 10px;
    border-radius: 50px;
    
}
.To-app h2 img
{
    width: 30px;
    margin-left: 10px;
}
.To-app h2
{
    margin: 0px auto 10px;
}
.row
{
    background: #fff;
    display: flex;
    border-radius: 30px;
    
}
input
{
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 14px;
    background: transparent;
}
button
{
    border: none;
    outline: none;
    padding: 16px;
    margin-left: 56%;
    background-color:red;
    color: #f5efef;
    font-size: 16px;
    border-radius: 20px;
    
}
ul li
{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}
ul li::before
{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size:cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked
{
    color: #ef0d0d;
    text-decoration: line-through;

}
ul li.checked::before
{
    background-image:url(checked.png);

}
ul li span
{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#0a0808;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover
{
    background: #ef0d0d;

}